@import 'foundation';
/*@include foundation-everything;*/
@include foundation-global-styles;
@include foundation-badge;
@include foundation-typography;

body {
  font-family: 'arial';
}

.inline {
  display: inline-block;
}

.screen_shot_level {
  display: inline-block;
  width: 20px;
  text-align: right;
}

.screen_shot_name {
  padding-left: 7px;
  cursor: pointer;
}

.ss_source {
  display: inline-block;
}
.ss_source_badge {
  font-weight: bold;
}
.ss_source_source {
  font-size: 0.7rem;
}

.screen_shot_name:hover {
  border: 0 solid black;
  border-bottom-width: 1px;
}

.screen_shot_img > img {
  cursor: pointer;
  width: 100%;
}

.hide {
  display: none
}

footer {
  min-height: 90px;
  padding: 7px 0;
  background-color: #ececec;
}
